body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#output-block {
    background-color: rgb(156, 18, 18);
    width: 800px;
    padding: 10px;
    margin: 20px;
    color: white;
}

#output {
    white-space: pre-wrap;
}

#ant-farm {
    margin: 20px;
}

#ant-farm-svg {
    background-color: white;
    border: 1px solid #ccc;
}
